@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../../public/images/backgroundImage2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .moreInner {
  background-image: url("../../public/images/inner_background.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.inner {
  width: 1240px;
}

@media (max-width: 1240px) {
  .inner {
    width: 1040px;
  }
}

@media (max-width: 1024px) {
  .inner {
    width: 824px;
  }
}

@media (max-width: 760px) {
  .inner {
    width: 660px;
  }
}

@media (max-width: 540px) {
  .inner {
    width: 440px;
  }
}

.main_contentTitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-left: 10px;
}
