/* ############### Project Thumb section ############### */

.project-wrapper {

  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 10px 20px;
}

.thumb-card {
  border: 1px solid #ccc;
  color: black;
  border-radius: 10px;
  margin: 0px 15px;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

.card-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.card-back .use {
  color: green;
  font-size: 2rem;
}

.card-back .unUse {
  color: red;
  font-size: 2rem;
}

.thumb-card:hover .card-front {
  opacity: 0.2;
}

.thumb-card:hover .card-back {
  display: block;
}



.thumb-card:hover .thumb-card-img {
  transform: scale(1.1);
  transition: transform 0.6s ease-in;
}

.thumb-card-img {
  width: 100%;
  /* 이미지의 가로 크기를 조절합니다. */
  height: 250px;
  /* 이미지의 세로 크기는 자동으로 조절됩니다. */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.1s ease-in;
}

.thumb-card-title {

  font-size: 18px;
  font-weight: bold;
  max-height: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;


}

.thumb-card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;

}

/* .thumb-card-quest {
  position: absolute;
  bottom: 0;
  padding: 4px;
  font-size: 18px;
} */